.parent{
    height: 500px;
    background-color: rgb(128, 213, 128);
    display: flex;  
      flex-wrap: wrap;  
    /* flex-direction: row-reverse;   */
       /* flex-direction: row-reverse;  
       flex-direction: column;    
    flex-flow: column wrap;       */
    /* justify-content: space-around; */
/* ,space-around,space-between */

    /* align-items: center; */
    /* align-items:center; */
    /* align-content: center; */
    /* gap: 10px; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */

}
.child{
    background-color: forestgreen;
    border: 1px solid ;
    padding: 50px;
    color: antiquewhite;
    
    
}
.first{
    
}
.third{
   
 
}
.second{
   
}