.container{
    height: 100vh;
    /* background-color: rgb(128, 134, 213); */
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: 'header header header'
    'main footer footer'
    'main footer footer';
    /* grid-gap: 20px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr  ; */
    /* grid-template-columns: 1fr 3fr 1fr; */
    /* grid-template-columns: repeat(2,2fr); */
    /* grid-row-gap: 1px ; */

}
.item{
    
    border: 1px solid ;
    color: antiquewhite;
    height: 300px;
    
}
.item1{
    grid-area: header;
    background-color: forestgreen;
}
.item2{
    grid-area: main;
    background-color: rgb(139, 34, 71);
}
.item3{
    grid-area: footer;
    background-color: rgb(215, 247, 4);
}