.div1{
    height: 500px;
    width: 500px;
    background-color: darksalmon;

}
  /* @media screen and (max-width:600px){
    .div1{
        background-color: green;
    }
    h1{
        font-size: small;
        text-align: center;
    }
   
}   */
 /* @media (max-width:600px){
    .div1{
        background-color: green;
    }
    h1{
        font-size: small;
        text-align: center;
    }
   
}    */

 @media (max-width:1000px){
    .div1{
        background-color: green;
    }
       
} 
@media (min-width:700px) and (max-width:900px){
    .div1{
        background-color: yellow;
    }
    h1{
        font-size: small;
        text-align: center;
    }
   
}    











/* @media screen and (max-width: 1000px) {
    .div1 {
        background-color: green;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .div1 {
        background-color: yellow;
    }
    h1 {
        font-size: small;
        text-align: center;
    }
} */
