body{
    height: 2000px;
}

.first{
    position: static;
   left:100000000000000000000000px;
   top:0px; 
    background-color: blue;
    width: 500px;
    height: 500px;
    /* margin-left: 100px; */
}
/* .second{
    position:absolute;
    top:0;
    left: 500px;
    background-color:red;
    width: 500px;
    height: 500px;
}
.third{
    position:sticky;
    top:0;
    left: 15pxpx;
    background-color:green;
    width: 500px;
    height: 500px;
} */