/* li{
    list-style-type: none;
    float: right;
   
    
    display: inline-block;
    padding-top: 35px;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-variant: small-caps;
    padding: 10px;
    
    
}
li a:hover{
    background-color: lightseagreen;
}
body 
{
    margin: 0px;
} */



div{
    color: blue;
}











